In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [48]:
def get_booked_listings(prev_listings_path, prev_calendar_path, post_listings_path, post_calendar_path, output_path):
    prev_listings = pd.read_csv(prev_listings_path)
    prev_calendar = pd.read_csv(prev_calendar_path)
    post_listings = pd.read_csv(post_listings_path)
    post_calendar = pd.read_csv(post_calendar_path)
    
    prev_listings = prev_listings.drop(["price", "minimum_nights", "last_review"], axis = 1)
    post_listings = post_listings.drop(["price", "minimum_nights", "last_review"], axis = 1)
    
    prev = prev_listings.merge(prev_calendar, left_on = "id", right_on = "listing_id")
    post = post_listings.merge(post_calendar, left_on = "id", right_on = "listing_id")
    
    prev = prev.drop(["listing_id"], axis = 1)
    post = post.drop(["listing_id"], axis = 1)
    
    merged = prev.merge(post, on = ["id", "date"], suffixes = ["_prev", "_post"])
    booking_changes = merged[(merged.available_prev == 't') & (merged.available_post == 'f')]
    booking_changes.to_csv(output_path, index=False)

In [49]:
get_booked_listings("july_listings.csv", "july_calendar.csv", "aug_listings.csv", "aug_calendar.csv", "boston_jul_aug_bookings.csv")

In [55]:
t = pd.read_csv("raw_boston_data/jul_calendar.csv")

In [64]:
t['date'] = pd.to_datetime(t.date)

In [66]:
t.date

0         2019-07-14
1         2019-07-15
2         2019-07-16
3         2019-07-17
4         2019-07-18
             ...
2286355   2020-07-08
2286356   2020-07-09
2286357   2020-07-10
2286358   2020-07-11
2286359   2020-07-12
Name: date, Length: 2286360, dtype: datetime64[ns]

In [65]:
t.date <= datetime(2019, 7, 15)

0           True
1           True
2          False
3          False
4          False
           ...
2286355    False
2286356    False
2286357    False
2286358    False
2286359    False
Name: date, Length: 2286360, dtype: bool

In [2]:
reservations = pd.read_csv("boston_reservations.csv")

In [5]:
reservations.head(20)[["id", "reservation_period", "date"]]

      id reservation_period        date
0   3781  jan_2019_feb_2019  2019-02-28
1   3781  jan_2019_feb_2019  2019-03-01
2   3781  jan_2019_feb_2019  2019-03-02
3   3781  jan_2019_feb_2019  2019-03-03
4   3781  jan_2019_feb_2019  2019-03-04
5   3781  jan_2019_feb_2019  2019-03-05
6   3781  jan_2019_feb_2019  2019-03-06
7   3781  jan_2019_feb_2019  2019-03-07
8   3781  jan_2019_feb_2019  2019-03-08
9   3781  jan_2019_feb_2019  2019-03-09
10  3781  jan_2019_feb_2019  2019-03-10
11  3781  jan_2019_feb_2019  2019-03-11
12  3781  jan_2019_feb_2019  2019-03-12
13  3781  jan_2019_feb_2019  2019-03-13
14  3781  jan_2019_feb_2019  2019-03-14
15  3781  jan_2019_feb_2019  2019-03-15
16  3781  jan_2019_feb_2019  2019-03-16
17  3781  jan_2019_feb_2019  2019-03-17
18  3781  jan_2019_feb_2019  2019-03-18
19  3781  jan_2019_feb_2019  2019-03-19

In [9]:
from datetime import datetime
sum(pd.to_datetime(reservations.date) >= datetime(2020,1,1))

185706

In [10]:
reservations.shape[0]

896298